[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {phoenix,[{serve_endpoints,true}]},
 {hello,
     [{ecto_repos,['Elixir.Hello.Repo']},
      {'Elixir.Hello.Endpoint',
          [{render_errors,
               [{view,'Elixir.Hello.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Hello.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {root,<<".">>},
           {server,true},
           {secret_key_base,
               <<"SY9MHQemX6thf5jpNX9pdcTFXn9jn/wF1jjnuceXxF/dEQN6BoCSqWZRSOSH0Mu4">>}]},
      {'Elixir.Hello.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {hostname,<<"postgres">>},
           {database,<<"hello_prod">>},
           {pool_size,20}]}]}].
